@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --green: #48a300;
  --brown: #61481c;
  --white: #fbfbfb;
  --grey: #858585;
  --lightgrey: #d9d9d9;
  --red: #ff5151;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#wrapper {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(72, 163, 0, 0.07);
}
#main {
  height: 100%;
  width: 30rem;
}
#heading {
  margin: 45px;
  font-size: 3rem;
  color: var(--green);
}
#headings {
  color: var(--brown);
}
.mainContent {
  background-color: var(--white);
  border-radius: 15px;
  padding: 10px 20px;
  height: 70vh;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.205);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#today {
  font-size: 40px;
  margin-bottom: 10px;
}
#quotes {
  font-size: 14px;
  color: var(--grey);
  margin-bottom: 18px;
}
#progress {
  width: 100%;
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
#progressbar {
  width: 100%;
  height: 30px;
  border-radius: 50px;
  background-color: rgb(72, 163, 0, 0.07);
}
#progressupdate {
  height: 100%;
  /* width: 20px; */
  background-color: var(--green);
  border-radius: 50px;
}
.warning {
  display: none;
  position: absolute;
  bottom: -15px;
  left: 0;
  color: var(--red);
  font-size: 14px;
}
.block {
  display: block;
}
form {
  height: 35vh;
}
.goals {
  height: 4rem;
  width: 100%;
  margin: 20px 0 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border: 1px solid rgb(173, 171, 171);
  border-radius: 10px;
  /* background-color: red; */
}
.checked {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  flex-shrink: 0;
  border: 2px solid rgb(175, 173, 173);
}
.completed .checked {
  background-color: var(--green);
}

.userData {
  flex-grow: 1;
  height: 100%;
  background-color: var(--white);
  border: none;
  outline: none;
  text-transform: capitalize;
  padding: 0 20px;
  font-weight: 700;
}
.completed .userData {
  color: var(--green);
  text-decoration: line-through;
}
::placeholder {
  font-size: 17px;
  color: var(--lightgrey);
}

#celebTitle {
  color: var(--green);
  font-size: 22px;
}
#cTS {
  font-size: 30px;
  color: var(--brown);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button h3 {
  color: var(--brown);
  font-size: 20px;
}
#reset {
  background-color: var(--white);
  color: var(--green);
  border: none;
  outline: none;
  padding: 5px 10px;
  font-weight: 800;
  font-size: 16px;
  cursor: pointer;
}
#reset:hover {
  text-decoration: underline;
}
